<div class="w-full max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-2xl font-bold mb-4 text-center">Login</h1>
  <p class="text-sm text-center mb-6">
    You don't have an account?
    <a routerLink="/signup" class="text-blue-600 hover:underline">Sign up</a>
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" />
      </mat-form-field>
    </div>

    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" />
      </mat-form-field>
    </div>

    <div class="w-full">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roles">
          <mat-option value="">Choose a role ...</mat-option>
            @for(r of roles; track $index){
                <mat-option [value]="r.name">
                    {{ r.name }}
                </mat-option>
            }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-full">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full py-2"
      >
        Submit
      </button>
    </div>
  </form>
</div>
