@if (isLoading) {
  <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
    <mat-progress-spinner
      [mode]="mode"
      diameter="50">
    </mat-progress-spinner>
  </div>
} @else {
  <div class="calendar-container">
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <h3 class="mt-0">
          {{
            viewDate
              | calendarSchedulerDate
                : view + 'ViewTitle'
                : locale
                : weekStartsOn
                : excludeDays
                : viewDays
                : startsWithToday
          }}
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <div class="btn-group m-1" role="group">
          <button
            type="button"
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            [daysInWeek]="viewDays"
            [excludeDays]="excludeDays"
            [disabled]="prevBtnDisabled"
            (viewDateChange)="dateOrViewChanged()"
          >
            <i title="Prethodno" class="material-icons md-18">keyboard_arrow_left</i>
          </button>
          <button
            type="button"
            class="btn btn-light"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            (viewDateChange)="dateOrViewChanged()"
          >
            <i title="Danas" class="material-icons md-18">today</i>
          </button>
          <button
            type="button"
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            [daysInWeek]="viewDays"
            [excludeDays]="excludeDays"
            [disabled]="nextBtnDisabled"
            (viewDateChange)="dateOrViewChanged()"
          >
            <i title="Sledeće" class="material-icons md-18">keyboard_arrow_right</i>
          </button>
        </div>
      </div>
    </div>
    <br />
    <calendar-scheduler-view
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [viewDays]="viewDays"
      [weekStartsOn]="weekStartsOn"
      [excludeDays]="excludeDays"
      [startsWithToday]="startsWithToday"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [dayModifier]="dayModifier"
      [hourModifier]="hourModifier"
      [segmentModifier]="segmentModifier"
      [eventModifier]="eventModifier"
      [showEventActions]="true"
      [showSegmentHour]="true"
      [zoomEventOnHover]="true"
      (dayHeaderClicked)="dayHeaderClicked($event.day)"
      (hourClicked)="hourClicked($event.hour)"
      (segmentClicked)="segmentClicked('Clicked', $event.segment)"
      (eventClicked)="eventClicked('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </calendar-scheduler-view>
  </div>
}
